service cloud.firestore {
  match /databases/{database}/documents {
    match /komik/{komikId} {
      allow read: if true;
      allow write: if request.auth.token.admin == true;

      match /chapter/{chapterId} {
        allow read: if true;
        allow write: if request.auth.token.admin == true;
      }
    }

    match /komentar/{komentarId} {
      allow read, write: if request.auth != null;
    }

    match /userData/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
